.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productImage {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}
.productDescription {
    text-align: center;
}
